body,
body * {
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}


/* main layout */
.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main.main-content {
  flex: 1;
  margin-top: 107px
}


/* Navbar */
.navbar {
  position: fixed;
  width: 100%;
  z-index: 50;
  background-color: white;
}

@media (max-width: 767px) {
  .navbar .links {
    display: none !important;
  }

  .navbar .bars {
    display: block !important;
  }
}

.navbar .navbar-search.hide {
  display: none;
}

@media (min-width: 1800px) {
  .navbar div.container-fluid {
    width: 1750px !important;
    margin-left: auto;
    margin-right: auto;
  }
}

.search-input:focus,
.search-input:focus+button {
  border-color: rgb(170, 170, 170) !important;
}


/* Sidebar */
.sidebar {
  position: fixed;
  height: 100vh;
  width: 350px;
  background-color: white;
  right: -350px;
  top: 0;
  transition: 0.3s;
  z-index: 1;
}

@media (max-width: 767px) {
  .sidebar {
    display: block !important;
  }

  .sidebar.show {
    right: 0;
  }
}


/* dashboard */
.dashboard .main-content {
  width: calc(100% - 60px);
  margin-left: auto;
  margin-top: 82px;
}

.dashboard .main-content .content {
  padding: 20px;
  min-height: 82vh;
}



/* dashboard sidebar */
.dashboard-sidebar {
  height: 92vh;
  position: fixed;
  overflow-y: auto;
  overflow-x: hidden;
  transition: .7s;
  margin-top: 82px;
  padding: 10px;
  z-index: 10;
  background-color: white;
}

.dashboard-sidebar.hide {
  width: 60px !important;
}

.dashboard-sidebar.show {
  width: 250px !important;
  min-width: 60px !important;
}

.dashboard-sidebar.show .dashboard-sidebar-content .arrow {
  transform: rotateY(180deg) translateX(0px);
}

.dashboard-sidebar:not(.show) .dashboard-sidebar-content .arrow {
  animation: dashboard-arrow-transition 5s linear infinite;
}

.dashboard-sidebar .dashboard-sidebar-content .link {
  transition: .3s;
}

.dashboard-sidebar .dashboard-sidebar-content .link:hover {
  background-color: #eee;
}

.dashboard-sidebar.hide .dashboard-sidebar-content .link .link-content {
  display: none;
}


@keyframes dashboard-arrow-transition {

  0%,
  15% {
    transform: rotateY(0deg) translateX(0px);
  }

  20% {
    transform: rotateY(0deg) translateX(10px);
  }

  25% {
    transform: rotateY(0deg) translateX(0px);
  }

  30% {
    transform: rotateY(0deg) translateX(10px);
  }

  35%,
  100% {
    transform: rotateY(0deg) translateX(0px);
  }
}


/* Comment */
.comment-form,
.reply-form {
  transition: height .3s ease;
}

.comment-form.hide {
  height: 40px;
  overflow: hidden;
}

.comment-form.show {
  height: 220px;
  overflow: auto;
}

.reply-form.hide {
  height: 0px;
  overflow: hidden;
}

.reply-form.show {
  height: 151px;
  overflow: auto;
}


/* search articles page */
.search-page .filters {
  min-height: 756px;
}

@media (max-width:767px) {
  .search-page .filters {
    position: fixed;
    transform: translateX(0);
    z-index: 30;
    width: 320px;
    background-color: white;
    transition: transform .6s ease-in-out;
    right: 0;
  }

  .search-page .filters.hide {
    transform: translateX(800px);
  }

  .search-page .search-input+.filter {
    display: block !important;
  }


}
